-        html {
            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        h5 {
            font-size: 1.28571429em;
            font-weight: 700;
            line-height: 1.2857em;
            margin: 0;
        }
        .cardnew {
            font-size: 1em;
            padding: 0;
            box-shadow: 0px 1px 3px 0 #013953;
            border-radius: 10px;
            background-color: white;
            width: 100%;
            height: 100%;
        }
        .col-sm-3>.cardnew:nth-child(even){
            box-shadow: .5px 3px 3px 0 #5d8aa8;
           
         }
         .cardnew-heading{
            background-image: linear-gradient(to bottom, #013953, #5d8aa8);  
            margin-top: 0;
        }
        .cardnew-heading:nth-child(even){
            background-color: #5d8aa8;
           
         }



        .cardnew-header{
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
            height: 100%;
            color: white;
            padding-top: 14px;
            text-decoration: none;
        }
        
        .card-header h2{
            font-size: 1em;
        }
        .cardnew-content{
            position: absolute;
            padding: 0 5px 0 5px;
            width: 90%;
            margin: auto;
            overflow: hidden;
            text-align: center;
            color: #013953;
        }
        .cardnew > .Read-more{
        position: absolute;
        bottom: 4px;
        right: 20px;
        text-decoration: none;
        padding: 3px 10px 4px 10px;
        border-radius: 5px;
        background-color: #5d8aa8;
        color: white;
    }
     .cardnew > .Read-more:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 2px;
  z-index: 5000;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
 .cardnew > .Read-more:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
 .cardnew >.cardnew-heading>a:before {
  content: "";
  position: absolute;
  margin: 5%;
  width: 90%;
  height: 4px;
  top: 6px;
  z-index: 5000;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
 .cardnew>.cardnew-heading > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

        .card-block {
            font-size: 1em;
            position: relative;
            margin: 0;
            padding: 1em;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            box-shadow: 5px 2px red;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 0px;
            /*font-family: 'Fjalla One', sans-serif;*/

        }

        .card-img-top {
            display: block;
            width: 100%;
            height: 60%;
            opacity: 1;

            /* -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;*/
        }
        .card-img-top:hover {
            /*width: 290px;
            height: 190px;*/
            opacity: 1;
           /* -webkit-animation: 3s ease os normal forwards 1 fadein;
            animation: 3s ease os normal forwards 1 fadein;*/



        }

        .card-title {
            font-size: 1.2em;
            font-weight: 700;
            line-height: 1.2857em;
            color: #085298;
            /*font-family: 'Fjalla One', sans-serif;*/
            padding-left: 10px;
            font-family: 'Sintony', sans-serif;
        }

        .card-text {
            clear: both;
            margin-top: .5em;
            padding-left: 10px;
            font-family: 'Sintony', sans-serif;
            /*margin-left: 20px;*/
            /*color: rgba(0, 0, 0, .68);*/
        }

        .card-footer {
            font-size: 1em;
            position: static;
            top: 0;
            left: 0;
            max-width: 100%;
            padding: .75em 1em;
            color: rgba(0, 0, 0, .4);
            border-top: 1px solid rgba(0, 0, 0, .05) !important;
            background: #fff;
        }

        .card-inverse .btn {
            border: px solid rgba(0, 0, 0, .05);
            margin-left: 10px;
            margin-bottom: 10px;
            /*background-color: #022d10!important;*/
        }

        .profile {
            position: absolute;
            top: -12px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
            width: 25px;
            height: 25px;
            margin: 0;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        .profile-avatar {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

        .profile-inline {
            position: relative;
            top: 0;
            display: inline-block;
        }

        .profile-inline ~ .card-title {
            display: inline-block;
            margin-left: 4px;
            vertical-align: top;
        }

        .text-bold {
            font-weight: 700;
        }

        .meta {
            font-size: 1em;
            color: rgba(0, 0, 0, .4);
        }

        .meta a {
            text-decoration: none;
            color: rgba(0, 0, 0, .4);
        }

        .meta a:hover {
            color: rgba(0, 0, 0, .87);
        }
        @media (max-width: 768px){
            .card{
                height: 40vh;
            }
            .card-img-top{
                height: 50%;
            }
            .card-title {
            font-size: 1em;
            font-weight: 500;
            line-height: 1.2857em;
            padding-left: 10px;
        }

            .card-text {
            margin-top: .2em;
            font-size: .8em;
            padding-left: 10px;
            font-family: 'Sintony', sans-serif;
        }

        .card-footer {
            font-size: 1em;
            position: static;
            top: 0;
            left: 0;
            max-width: 100%;
            padding: .75em 1em;
            color: rgba(0, 0, 0, .4);
            border-top: 1px solid rgba(0, 0, 0, .05) !important;
            background: #fff;
        }
        }
        @media (max-width: 400px){
            .card{
                height: 68vh;
            }
            .card-title {
            font-size: 1em;
            font-weight: 500;
            line-height: 1em;
            padding-left: 10px;
        }

            .card-text {
            margin-top: 0em;
            font-size: .8em;
            padding-left: 10px;
            font-family: 'Sintony', sans-serif;
        }

        .card-footer {
            font-size: 1em;
            position: static;
            top: 0;
            left: 0;
            max-width: 100%;
            padding: .75em 1em;
            color: rgba(0, 0, 0, .4);
            border-top: 1px solid rgba(0, 0, 0, .05) !important;
            background: #fff;
        }
        }