	@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    body {
		padding: 60px 0px;
		background-color: rgb(220, 220, 220);
	}
    .eventnew{
    	margin-top: 15px;
    	margin-bottom: 5px;
    	height: 200px;
    	box-sizing: border-box;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	background-image: linear-gradient(to bottom right,#eff3f6,#ffffff); 
/*    	box-shadow: 2px 1px 1px 0px #013953;
*/    }
    .eventnew:nth-child(even){
    	 background-image: linear-gradient(to bottom right, #ffffff,#9cb7c9);
		/*box-shadow: -2px -1px 1px 0px #5d8aa8;
	*/}
    /*.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
		height: 80px!important;
	}
	.event-list > li {
		width: 100%;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px 0px;
		
	}*/

	.eventnew > time {
		display: inline-block;
		width: 25%;
		height: 70px;
		color: rgb(255, 255, 255);
		background-color: #013953;
		padding: 5px;
		padding-top: 10px!important;
		text-align: center;
		text-transform: uppercase;
	}
	.eventnew:nth-child(even) > time {
		background-color: #5d8aa8;
	}
	.eventnew> time > span {
		display: none;
	}
	.eventnew > time > .day {
		display: block;
		text-align: center;
		padding: 2px 0px 2px 0px;
		font-size: 12pt;
		font-family: 'Sintony', sans-serif!important;
		font-weight: 300;
		line-height: 1;
	}
	.eventnew > time > .month {
		display: inline;
		font-size: 12pt;
		padding: 0px 2px 0px 2px;
		font-weight: 300;
		font-family: 'Sintony', sans-serif!important;
		line-height: 1.5;
	}
	/*.event-list > li time > .year {
		display: inline;
		font-size: 12pt;
		padding: 0px 2px 0px 2px;
		font-weight: 300;
		font-family: 'Sintony', sans-serif!important;
		line-height: 1.5;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}*/
	.eventnew>.title {
		margin: 0px;
		display: inline-block;
		width: 70%;
		color: #5d8aa8;
		min-height: 70px;
		float: right;
		font-family: 'Sintony', sans-serif!important;
	}
	.eventnew:nth-child(even) > .title {
		color: #013953;
	}
	.eventnew >.desc {
    width: 100%;
    padding: 20px 0 20px 0;
    font-size: 1em;
    font-weight: 300;
    margin: 0px;
    text-align: left;
    font-family: 'Sintony', sans-serif!important;
}
	.eventnew > .Details{
		position: absolute;
		bottom: 10px;
		right: 15px;
		text-decoration: none;
		padding: 3px 10px 4px 10px;
		border-radius: 5px;
		background-color: #5d8aa8;
		color: white;
	}
	.eventnew>.Details:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 4px;
  z-index: 5000;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
.eventnew>.Details:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 8pt;
		font-weight: 300;
	}
    .event-list > li > .info > ul > li > a {*/
	 		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
		/*background-color: red;
		/*color: white!important;*/
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 90px;
			padding: 0px;
		}
		.event-list > li > time {
			display: block;
		}
		.event-list > li > time > .day {
		display: block;
		width: 100%;
		padding: 5px 5px 4px 5px;
		font-size: 15pt;
		font-weight: 600;
		}
	.event-list > li time > .month {
		display: block;
		font-size: 15pt;
		width:100%;
		padding: 2px 5px 5px 5px;
		font-weight: 600;
		}
	.event-list > li time > .year {
		display: none;
	}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time{
			width: 75px;
			height: 90px;
			padding: 0px;
			margin: 0px;
			float: left;
		}
		.event-list > li > .info {
			position: relative;
			height: 90px;
			text-align: left;
			/*padding-right: 40px;*/
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 5px;

		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
			font-family: 'Sintony', sans-serif!important;
			background-color: #d1d8de!important
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}