
.top-nav-bar{
	float: right;
	position: relative;
	top: 50px;
	margin-bottom: 10px;
	width: 33.33%;
}
.cse-image{
		margin-bottom: 5px;
	}
.iiti{
	color: white;
	font-family: 'Audiowide', cursive;
}
.IITI-container{
		min-height: 140px;
}
#coolnavbar{
	overflow: visible;
}
#coolnavbar .navbar-nav>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 4px;
  z-index: 5000;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}
#coolnavbar .navbar-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-nav > li > a {
    color: white ;
    background-color: transparent;
    padding-left: 6px;
    padding-right: 6px;
}
.navbar-nav > li > a:hover {
    background-color: transparent;
}
@media (max-width: 768px){
	.top-nav-bar{
		top: 0px;
		width: 100%;
	}
	.iiti{ 
		font-size: 15px;
		font-family: Prompt, sans-serif;
	}
	.IITI-container{
		min-height: 120px;
	}
	.cse-image{
		margin-bottom: 0px;
	}
}