h3{
  color: #5e5d5d!important;
}

.panel-body ul{
    /*color: red;*/
    color: #463e1e;
    padding-left: 2px;
    margin-left: 0px;
    margin-top: -10px;
    /*padding-bottom: 15px;*/
}

.panel-default{
  border-radius: 0px!important;
}
.panel-body {
    text-align: justify;
}
.panel-heading{
  color: red!important;
  /*font-weight: bold;*/
}
.carousel-inner{
	border: 3px groove #5d8aa8;
	border-radius: 15px;
}

.carousel-control {
  padding-top:10%;
  width:5%!important;
  opacity: 1;
}
.carousel-control.left, .carousel-control.right {
    background-color: none;
    opacity: 1;
    margin-left: 0;
    transition-duration: .2s; 	
}
.carousel-control.left:hover, .carousel-control.right:hover {
    opacity: 1; 	
    transition-duration: .3s;
    transform: scale(1.2);
}

.glyphicon-chevron-left:before {
    content: "\e079";
    color: white;
    background: #5d8aa8;
}
.glyphicon-chevron-right:before {
    content: "\e080";
    color: white;
    background-color: #5d8aa8;
}

.glyphicon-chevron-right:hover{
     display:block!important;
}
.carousel-caption{
	bottom: 10px;
	margin-left: 0;
}
.carousel-caption p{
  background-color:rgba(255, 255, 255, .8)!important;
  margin-left: 0px;
  color: #013953;
font-weight: 600;
  width: 100%;
font-family: 'Play', sans-serif;
  text-align: center;
  padding-left: 4px!important;
  padding-top: 4px!important;
  padding-bottom: 4px!important;
  text-shadow: none;
  font-size: 1.5em;
  
}
.item{
	height: 40vw;
}
.slider{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #5d8aa8, #013953, #5d8aa8);
  filter: brightness(.8);
}	
.panel-footer{
  font-weight: bold;
}
.carousel-control.left{
  background-image: none!important;
}

.carousel-control.right {
  background-image: none!important;
}

.carousel-control.left, .carousel-control.right:hover {
  background-image: none;
}
.img-thumbnail{
  border-radius: 0px!important;
}
.myImg{
  margin-bottom: 10px;
  height: 100%;
 }
 .panel-body{
 	font-size: 17px;
 }
 .latest-list > li {
		background-color: rgb(197, 44, 102	);
		margin-top: 2px;
		border-bottom: 1px solid black;
	}
	.recruitments-list > li {
		background-color: #ececec;
		margin-top: 2px;
		border-bottom: 1px solid black;
		border-spacing: 5px;
	}

.latest-list > li:nth-child(even) {
		background-color: #21abcd;
		border-bottom: 1px solid black;
	}
.recruitments-list > li:nth-child(even) {
			background-color: #e0e0e0;
		border-bottom: 1px solid black;
	}

.panel-aside{
	margin-top: 15px;
	margin-bottom: 40px;	
}
.aside-header {
  position: relative;
  height: 35px;
  overflow: hidden;
}
.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:  linear-gradient(to right, #013953, #5d8aa8);
  transform: skewX(20deg);
  transform-origin: bottom right;
}
.aside-body ul{
	list-style-type: none;
	margin-left: -10px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.aside-body ul li{
	padding: 10px 0 10px 0;  
	font-size: 1.1em;
}
.aside-body ul li a{
	text-decoration: none;
}
.aside-body ul li a:hover{
	text-decoration: underline;

}

.aside-heading {
  text-align: left;
  position: relative;
  color: white;
  margin: 0;
  padding: 5px;
}
 @media (max-width: 768px)
 {
 	.panel-body{
 	font-size: 15px;
 	}
 	.info-panel{
 		height: 70vh;
 	}
 	.item{
	height: 55vw;
	}
	.carousel-caption{
		bottom: 0px;
	}
	.carousel-inner{
	border: 2px groove #5d8aa8;
	border-radius: 10px;
}
.carousel-caption p{
  font-weight: 400;
  width: 100%;
  padding-left: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  font-size: 1.1em;
}
}
 @media (max-width: 400px)
 {
 	.panel-body{
 	font-size: 13px;
 	}
 }
 