  

.panel-body ul{
    /*color: red;*/
    color: #463e1e;
    padding-left: 2px;
    margin-left: 0px;
    margin-top: -10px;
    /*padding-bottom: 15px;*/
}

.panel-default{
  border-radius: 0px!important;
}
.panel-body {
    text-align: justify;
}
.panel-heading{
  color: red!important;
  /*font-weight: bold;*/
}
.carousel-inner{
	/*border: 3px groove #507a95;
*/}

.carousel-control {
  padding-top:10%;
  width:5%!important;
  opacity: 1;
}
.carousel-control.left, .carousel-control.right {
    background-color: none;
    opacity: 1;
    margin-left: 0;
    transition-duration: .2s; 	
}
.carousel-control.left:hover, .carousel-control.right:hover {
    opacity: 1; 	
    transition-duration: .3s;
    transform: scale(1.2);
}
.Caption-header {
  position: relative;
  height: 40px;
  width: 100%;
  overflow: hidden;
}
.header__fg {
  position: absolute;
  top: 0;
  bottom: 5px;
  right: -15%;
  width: 110%;
  height: 100%;
  background-image:  linear-gradient(to top right, #5d8aa8, #013953);
  transform: skewX(-25deg);
  transform-origin: bottom right;
}
.Caption-heading {
  position: relative;
  color: white;
  text-align: center;
  margin: 0;
  padding: 8px 5px 8px 5px;
}

.glyphicon-chevron-left:before {
    content: "\e079";
    color: white;
    background: linear-gradient(to right, #5d8aa8, #013953);
 }
.glyphicon-chevron-right:before {
    content: "\e080";
    color: white;
    background: linear-gradient(to left, #5d8aa8, #013953);
 }

.glyphicon-chevron-right:hover{
     display:block!important;
}
.carousel-caption{
  width: 85%;
  left: 15%;
}
.carousel-caption p{
  background-color:rgba(255, 255, 255, .8)!important;
  margin-left: 0px;
  color: #013953;
font-weight: 600;
  width: 100%;
font-family: 'Play', sans-serif;
  text-align: center;
  padding-left: 4px!important;
  padding-top: 4px!important;
  padding-bottom: 4px!important;
  text-shadow: none;
  font-size: 1.5em;
  
}
.item{
	height: 30vw;
}
.slider{
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #5d8aa8, #013953, #5d8aa8);
  filter: brightness(1);
}	
.panel-footer{
  font-weight: bold;
}
.carousel-control.left{
  background-image: none!important;
}

.carousel-control.right {
  background-image: none!important;
}

.carousel-control.left, .carousel-control.right:hover {
  background-image: none;
}
.img-thumbnail{
  border-radius: 0px!important;
}
.myImg{
  margin-bottom: 10px;
  height: 100%;
 }
 .panel-body{
 	font-size: 17px;
 }
 .latest-list > li {
		background-color: rgb(197, 44, 102	);
		margin-top: 2px;
		border-bottom: 1px solid black;
	}
	.recruitments-list > li {
		background-color: #ececec;
		margin-top: 2px;
		border-bottom: 1px solid black;
		border-spacing: 5px;
	}

.latest-list > li:nth-child(even) {
		background-color: #21abcd;
		border-bottom: 1px solid black;
	}
.recruitments-list > li:nth-child(even) {
			background-color: #e0e0e0;
		border-bottom: 1px solid black;
	}

.panel-aside{
	margin-top: 15px;
	margin-bottom: 30px;	
}
.aside-header {
  position: relative;
  height: 35px;
  width: 100%;
  overflow: hidden;
}
.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:  linear-gradient(to right, #013953, #5d8aa8);
  transform: skewX(20deg);
  transform-origin: bottom right;
}
.aside-heading {
  text-align: left;
  position: relative;
  color: white;
  margin: 0;
  padding: 5px;
}
.aside-body ul{
	list-style-type: none;
	margin-left: -10px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.aside-body ul li{
	padding: 10px 0 10px 0;  
	font-size: 1.1em;
}
.aside-body ul li a{
	text-decoration: none;
}
.aside-body ul li a:hover{
	text-decoration: underline;

}
.fullwidth-header {
  position: relative;
  height: 40px;
  overflow: hidden;
  width: 30%;
}
.header_full{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:  linear-gradient(to right, #013953, #5d8aa8);
  transform: skewX(20deg);
  transform-origin: bottom right;
}
.fullwidth-heading {
  text-align: left;
  position: relative;
  color: white;
  font-family: 'Ruslan Display', cursive;
  margin: 0;
  padding: 6px 0 6px 10px;
}

.News{
  list-style-type: none;
  margin-left: -10px;
  padding-top: 2px;
  margin-bottom: 15px;
}
.News li{
  list-style-type: none;
  margin-left: -25px;
  font-size: 1em;
  color: #013953;
  background-image: linear-gradient(to top left,#9cb7c9, #ffffff);
  padding: 10px 0 10px 5px;
  }
  .News>li:nth-child(even) {
     background-image: linear-gradient(to bottom right,#ffffff,#eef3f6); 
  }
  .News li>a{
  font-size: 1.1em;
  color: #013953;
  padding: 3px 0 5px 0;
  }
  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: white;
    background-image: linear-gradient(to bottom, #013953, #5d8aa8);
}
.nav-pills>li>a {
    border-radius: 0px;
    color: #013953;
}
.nav-pills>li+li {
    margin-left: 0;}

  .alert-success{
    height: 30px;
  }
  }
  .latestupdates{
    width: 30%;
    height: 30px;
  }
  #latest-updates{
    font-size: 1em;
    padding: 10px 0 0 15px;
  }


   /* width: 25%;
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: #013953;
    padding: 5px;
    padding-top: 10px!important;
    text-align: center;
    text-transform: uppercase;
  }
  */
 @media (max-width: 768px)
 {
 	.panel-body{
 	font-size: 15px;
 	}
 	.info-panel{
 		height: 70vh;
 	}
 	.item{
	height: 40vw;  
	}  
.carousel-caption{
  display: none;
  height: 25px;
  padding-left: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  font-size: 1em;
   width: 98%;

}
.caption-heading{
  text-align: right;
  padding: 0px 5px 0px 0;
  font-size: .5em;
}
.aside-header {
   width: 75%;
  }
.fullwidth-header {
  width: 75%;
}
  .latestupdates-header{
    width: 100%;
  }
  #latest-updates{
    font-size: .7em;
    padding: 2px 0 0 2px;
  
  }
}
 @media (max-width: 400px)
 {
 	.panel-body{
 	font-size: 13px;
 	}
 }
 @media(min-width: 1500px){
 	.item{
 		height: 25vw;
 	}
 }
 