 .panel-body{
 	font-size: 17px;
 }
 .latest-list > li {
		background-color: rgb(197, 44, 102	);
		margin-top: 2px;
		border-bottom: 1px solid black;
	}
	.recruitments-list > li {
		background-color: #ececec;
		margin-top: 2px;
		border-bottom: 1px solid black;
		border-spacing: 5px;
	}

 .latest-list > li:nth-child(even) {
		background-color: #21abcd;
		border-bottom: 1px solid black;
	}
	.recruitments-list > li:nth-child(even) {
		background-color: #e0e0e0;
		border-bottom: 1px solid black;
	}
 @media (max-width: 768px)
 {
 	.panel-body{
 	font-size: 15px;
 	}
 	.info-panel{
 		height: 70vh;
 	}
 }
 @media (max-width: 400px)
 {
 	.panel-body{
 	font-size: 13px;
 	}
 }
 