@media (max-width: 768px){
	.item{
		height: 70vh;
	}
	#latestupdates{
		width: 25%;
		font-size: 15px;
	}
	#scroll_news{
		font-size: 13px;
	}
}
@media (max-width: 400px){

	.item{
		height: 50vh;
	}
	.carousel-caption {
		font-size: 12px;
		height: 15px;
	}
	#latestupdates{
		font-size: 8px;
		font-weight: normal;
	}
	#scroll_news{
		font-size: 10px;
	}
}